@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { height: 100%; }
body { overscroll-behavior: none; }

.feed {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100dvh;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.feed::-webkit-scrollbar { display: none; }
.feed > * {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100dvh;
}
